form {
    margin: 2rem 0;
    text-align: center;
}

.input-text {
    padding: 5px;
}

.submit {
    color: white;
    background-color: black;
    padding: 5px 10px ;
    border-style: none;
    margin: 10px;
}

input{
    font-family: 'Quicksand' ,sans-serif;
}