<div class="container">
        <ul class="weather-future cards">
            <div class="small-temperature-card">
                <img src="{{weather.icon}}"><br>
                <div class="celsius-text"><strong>{{weather.temperature}}°C</strong></div><br>
                <strong>
                    <div>{{weather.feels}}</div>
                    <small class="dull-text">Today</small>
                    <div><small class="dull-text">{{weather.location}}</small></div>
                </strong>
           
            </div>
                
            <li class="small-forecast-cards" *ngFor ='let i of [0,1,2]'>
                
                <img src="{{weather.forecast[i].icon}}" ><br>
                <div ><strong class="celsius-text">{{weather.forecast[i].maxtemp}}°</strong><strong style="color:rgba(66, 66, 66, 0.589)">/{{weather.forecast[i].mintemp}}°C</strong></div><br>
                <strong>
                    <div>{{weather.forecast[i].condition}}</div>
                    <div><small class="dull-text">{{weather.forecast[i].day | date:'E, d MMM'}}</small></div>
                    <div><small class="dull-text">{{weather.location}}</small></div>
                </strong>

            </li>
        </ul>
        
    <div class="cards">
        <div class="excel">
            <div class="heading"><strong>Get Excelsheet</strong></div>
            <div class="excel-card info">
                <div>click to download data as excel sheet</div>
                <button class="submit" type="submit" (click)="exportToExcel(weather)" style="font-family: 'Quicksand', sans-serif;font-weight: bold;">Download<i class="fa fa-arrow-down" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>