.container {
    display: grid;
    grid-template-rows:  2fr  [excel] minmax(min-content ,max-content);
    grid-template-columns: 100%;
    justify-content: center;
    text-align: center;

}

.celsius-text{
    font-size: 50px;
}

.dull-text {
    color: rgba(0, 0, 0, 0.637);
}

/*temperature today*/


.left-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.right-top{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.small-temperature-card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 350px;
    box-shadow: 1px 1px 8px -4px black;

}

.temperature-today {
    padding: 0.5rem;
}



/* forecast */

.weather-future {
    display: grid;
    grid-template-columns: repeat( 4 , minmax(200px , 250px));
    gap: 20px;
    justify-content: center;
}



ul{
    padding: 0;
}

li{
    list-style: none;
}

.info-small {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.small-forecast-cards {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px -4px black;
}


/* excel */

.excel {
    display: inline-block;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 8px -4px black;
    border-radius: 5px;
    margin: 1rem;
}

.fa-arrow-down{
    padding: 0 0 0 5px;
}

.submit {
    color: white;
    background-color: black;
    padding: 5px 10px ;
    border-style: none;
    margin: 10px;
}


.cards {
    margin: 1rem; 
    /* background-image: linear-gradient( #0292B7 , #017592); */
    /* background-image: linear-gradient( #0292B7 , #017592);  */
    /* box-shadow: 0px 0px 8px -6px black; */

    padding: 0.5rem;
    border-radius: 5px;
}
.heading{
    margin: 0.5rem;
}




@media screen and (max-width:1100px){
    .weather-future {
        display: grid;
        grid-template-columns: repeat( 2 , minmax(200px , 250px));
        grid-template-rows: 2;
        justify-content: center;
        gap: 20px;

    }

    .cards{
        margin: 0;
    }

    .excel{
        margin: 5rem 0;

    }
} 
    


@media screen and (max-width:580px){
    .container{
        grid-template-columns: 1fr !important;

    }

    .weather-future {
        grid-template-columns: 250px;
    }

    .forecast-card{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    
}

@media screen and (max-width:260px){
    .container{
        grid-template-columns: 1fr !important;

    }

    .weather-future {
        grid-template-columns: minmax(100px , 200px);
    }

    .forecast-card{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}

