html, body {
    overflow-x: hidden;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
  }
  body {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* background-image: linear-gradient(110deg , #66a5ad , #07575b); */
    background-color: rgb(161, 124, 192);
  }